p.fancy-label {
  position: relative; }
  p.fancy-label span {
    display: inline-block;
    position: relative; }
  p.fancy-label label {
    z-index: 20;
    position: absolute;
    top: 4px;
    left: 5px;
    cursor: text;
    color: #c0c0c0;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
    pointer-events: none; }

/* BE VERY CAREFUL WITH THIS. */
/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;}

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* Fix for stripeframe
*/
iframe {
  position: absolute; }

/* Global */
html {
  background: #d9dfe4 url(/img/background.png);
  font-family: Arial, sans-serif;
  height: 100%; }

body {
  min-height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  background: #fcfcfc }



/* Box drop shadow */
div.box {
  position: relative;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;}



/* CSS box shadow */
div.box.css {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.29); }


/* No text selection */
a.button,
div.filter,
label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

#login {
  min-height: 100%;
  height: 100%; }
  #login div#wrap {
    position: relative;
    min-height: 100%; }
  #login div#login-background {
    position: fixed;
    top: -10%;
    left: -10%;
    height: 120%;
    width: 120%;
    z-index: -1;
    pointer-events: none;
    /* Opera does not support radial gradients in release as of december 2nd 2011 */
    background-image: -webkit-radial-gradient(50% 50%, ellipse closest-side, rgba(255, 255, 255, 0) 1%, rgba(0, 42, 88, 0.15) 100%);
    background-image: -moz-radial-gradient(50% 50%, ellipse closest-side, rgba(255, 255, 255, 0) 1%, rgba(0, 42, 88, 0.15) 100%); }
    #login div#login-background div.inner {
      position: fixed;
      width: 120%;
      height: 50%;
      z-index: 10;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.54)), to(rgba(255, 255, 255, 0)));
      background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.54), rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.54), rgba(255, 255, 255, 0)); }
  #login div.box {
    width: 360px; }
  #login div#main-body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.3)));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3));
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.27);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.27);
    padding: 1px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    #login div#main-body div.inner {
      background: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f6f1f1));
      background-image: -moz-linear-gradient(top, white, #f6f1f1);
      background-image: -o-linear-gradient(top, white, #f6f1f1);
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
    #login div#main-body div.title {
      height: 55px;
      overflow: hidden;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
      background-image: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(top, white, rgba(255, 255, 255, 0));
      -o-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      #login div#main-body div.title h2 {
        font-size: 14px;
        color: #444;
        font-weight: bold;
        text-align: center;
        padding: 19px 0;
        background: url(/img/login/divider.png) 50% 100% no-repeat; }
        #login div#main-body div.title h2.error {
          color: #cb1a1a; }
      #login div#main-body div.title.extra {
        height: auto; }
        #login div#main-body div.title.extra h2 {
          baxckground: none; }
        #login div#main-body div.title.extra p {
          font-size: 12px;
          color: #999;
          padding: 19px 0 9px;
          text-align: center;
          bacxkground: url(/img/login/divider.png) 50% 100% no-repeat; }
    #login div#main-body div.skip {
      text-align: center;
      color: #999;
      font-size: 12px;
      margin-top: -22px; }
    #login div#main-body form {
      padding: 14px; }
      #login div#main-body form p {
        margin-bottom: 14px; }
        #login div#main-body form p:last-child {
          margin-bottom: 0; }
        #login div#main-body form p.text span {
          display: block;
          -webkit-box-shadow: 0 1px 0 white;
          -moz-box-shadow: 0 1px 0 white;
          box-shadow: 0 1px 0 white; }
        #login div#main-body form p.text label {
          font-size: 18px;
          top: 11px;
          left: 14px; }
        #login div#main-body form p.text input {
          font-size: 18px;
          padding: 10px 12px;
          width: 306px;
          border: 1px solid #aaa;
          border-top-color: #999;
          -o-border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
          -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12); }
          #login div#main-body form p.text input:focus {
            border-color: #5695db;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), 0px 0 5px #5695db;
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), 0 0 5px #5695db;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), 0px 0 5px #5695db; }
        #login div#main-body form p button.button {
          width: 332px;
          height: 44px;
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16); }
          #login div#main-body form p button.button span {
            height: 29px;
            font-size: 14px;
            line-height: 14px;
            padding: 13px 0 0;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.53); }
        #login div#main-body form p.remember {
          line-height: 12px;
          font-size: 12px;
          color: #555;
          text-shadow: 0 1px 0 #fff;
          text-align: center;
          padding: 5px 0; }
          #login div#main-body form p.remember input {
            vertical-align: middle;
            margin-right: 4px; }
  

